<!DOCTYPE html>
<html>
<head>
	<h1 class="center">OKN Proto</h1>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/indexstyle.css') }}">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
	<div class="bar">
		<div class="fancy-div">
			<h3 class="center">Chart Type:</h3>		 
			<form action="/" method="post" class="center">
				<label for="chart">Choose a chart type:</label>
				<select name="select_chart_name" id="select_chart_id" onchange="this.form.submit();">
					<option value="none" {% if selected_chart == 'none' %}selected{% endif %}>--</option>
					<option value="heatmap" {% if selected_chart == 'heatmap' %}selected{% endif %}>Heat Map</option>
					<option value="heatmap-on-map" {% if selected_chart == 'heatmap-on-map' %}selected{% endif %}>Heat Map on Map</option>
					<option value="time-series" {% if selected_chart == 'time-series' %}selected{% endif %}>Time Series</option>
					<option value="demographic" {% if selected_chart == 'demographic' %}selected{% endif %}>Demographic</option>
				</select>
			</form>
		
			{% if selected_chart != 'none' %}
			<h3 class="center">Arguments:</h3>
			<div class="center">
				{% if arg_list %}
					{{ arg_list|safe }}
				{% endif %}
			</div>
			{% endif %}
		</div>
	</div>
	{% if image_path %}
		<div class="chart">
			<div class="image-div">
				<img src="{{ image_path }}" alt="chart image", width={{ width|safe }}, height={{ height|safe }}>
			</div>
		</div>
	{% endif %}
	{% if html_path %}
		<div class="chart">
			<div class="html-div">
				<iframe src="{{ html_path }}" width={{ width|safe }}, height={{ height|safe }}>
			</div>
		</div>
	{% endif %}
</body>
</html>
